{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Weather</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	<div class="wrapper">
        {% for service in weather %}
        <h1>Погода от {{ service.name }}</h1>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>Город</th>
                    <th>Температура</th>
                    <th>Давление</th>
                    <th>Влажность</th>
                    <th>Дата обновления</th>
                </tr>
            </thead>
            <tbody>
                {% for city in service.city_list %}
                <tr>
                    <td>{{ city.city_name }}</td>
                    <td>{{ city.temperature }}</td>
                    <td>{{ city.pressure }}</td>
                    <td>{{ city.humidity }}</td>
                    <td>{{ city.last_update }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>На данный момент данных нет, подождите их обновления.</td>
                </tr>
                {% endfor %}
            </tbody>
		</table>
        {% endfor %}
	</div>
</body>
</html>